@import '../../default_variables.scss';

.todo-item {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-content: center;
  align-self: auto;
  background-color: #222222;
  width: 720px;
  height: fit-content;
  padding: 16px;
  margin-bottom: 14px;
  border-radius: 8px;

  &-check-block {
    display: flex;

    &:hover {
      cursor: pointer;
    }
  }

  &-block-p {
    color: white;
    font-size: 18px;
    text-align: center;
    overflow-y: auto;
    padding-top: 6px;
    padding-left: 1px;
    cursor: default;

    &-completed {
      color: #52525b;
      text-decoration: line-through;
    }
  }

  &:hover {
    display: flex;
    background-color: #262626;
    cursor: grab;
  }
}

.button-items {
  margin-left: 10px;
  flex-shrink: 0;

  .edit-icon,
  .delete-icon {
    flex-grow: 1;
    margin-left: 5px;
    background-color: #222222;

    &-svg {
      color: #7c3aed;
      margin-left: 5px;
      font-size: 30px;

      &:hover {
        transition: all 0.2s ease-in-out;
        transform: scale(1.2);
      }
    }

    &-hovered {
      background-color: #262626;
      margin-left: 5px;
    }
  }
}

.edit-input {
  color: white;
  font-size: 18px;
  width: 400px;
  height: 34px;
  background-color: #222222;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  padding-left: 5px;
  padding-bottom: 1px;
  margin-left: -5px;
  border: 1px solid #a978ff;
  border-radius: 6px;
}
