.todoItem {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #262626;
  width: 720px;
  height: auto;
  padding: 16px;
  margin-bottom: 12px;
  border-radius: 8px;
}
