.status {
  display: flex;
  justify-content: space-between;
  margin: 30px 0px 15px;
  padding-left: 20px;
  padding-right: 20px;

  .element {
    display: flex;
    align-items: center;
    justify-items: center;
  }

  .circle {
    display: block;
    margin-left: 10px;
    width: 30px;
    height: 30px;
    background-color: #262626;
    border-radius: 15px;

    p {
      text-align: center;
      margin-top: 6px;
    }
  }
}
