@import '../../default_variables.scss';

.check {
  border: 2px solid $violet;
  border-radius: 5px;
  width: 32px;
  height: 32px;
  margin-right: 15px;

  &.bg {
    background-color: $violet;
  }

  &:hover {
    transition: all 0.2s ease-in-out;
    transform: scale(1.1);
  }
}

.check-icon {
  width: 100%;
  height: 100%;
  color: #f2ebff;
}
