$violet: #7c3aed;

.form-label {
  display: flex;
  margin-top: -25px;
  padding-left: 20px;
  text-align: center;
}

.input-text {
  box-sizing: border-box;
  color: #fff;
  font-size: 18px;
  background-color: #171717;
  width: 624px;
  height: 55px;

  border-radius: 8px;
  line-height: 1.5;
  outline: none;
  padding: 16px;
  cursor: pointer;
  border: 1px solid $violet;

  &:placeholder {
    color: #808080;
    font-style: bold;
  }

  &:focus {
    outline: none;
    border-color: #a978ff;
  }
}

.submit-btn {
  position: relative;
  color: white;
  margin-left: 10px;
  margin-right: 14px;
  padding-right: 24px;
  outline: none;
  background-color: $violet;
  width: 90px;
  height: 55px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 8px;

  p {
    padding-left: 8px;
    font-size: 14px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
  }

  &:after {
    color: #fff;
    content: '';
    background: url(../../assets/img/plus.svg);
    width: 16px;
    height: 16px;
    position: absolute;
    left: 55px;
    bottom: 20px;
    background-repeat: no-repeat;
  }

  &:hover {
    background-color: #5025b3;
    transition: all 0.5s ease;
  }

  &:active {
    background-color: #351a75;
  }
}
