$breakpoint-small: 768px;
$breakpoint-medium: 992px;
$breakpoint-large: 1200px;

$gray: #262626;
$light-gray: #a1aab3;
$violet: #7c3aed;

.layout {
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
  color: white;
  background-color: #171717;
}

.header {
  background-color: #0d0d0d;
  height: 130px;
  margin: 0;
  padding: 0;

  &-logo {
    margin-right: auto;
    margin-left: auto;
    padding-top: 30px;
  }
}

.home-screen {
  position: relative;
}

main {
  width: 760px;
  margin-left: auto;
  margin-right: auto;
}

.empty-list {
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;

  &-img {
    margin-left: auto;
    margin-right: auto;
  }

  &-text {
    text-align: center;
    color: #262626;
    padding-top: 25px;
    font-weight: bold;
    font-size: 25px;
  }
}

.todos-container {
  height: 330px;
  overflow-y: scroll;
  scrollbar-base-color: #171717;
}

.todoList {
  padding: 20px;

  li {
    width: 720px;
  }
}

.bottom-buttons {
  display: flex;
  justify-content: space-between;
  padding: 20px;

  &-btn:hover {
    color: #7c3aed;
    transition: 0.3s;
  }
}
