* {
  padding: 0px;
  margin: 0px;
  border: none;

  font-family: Arial, Helvetica, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  background-color: inherit;
}

button {
  font-family: inherit;
  background-color: inherit;
}

button:hover {
  font-family: inherit;
  background-color: inherit;
}
button p {
  font-family: inherit;
  background-color: inherit;
  font-family: Arial, Helvetica, sans-serif;
}

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*::-webkit-scrollbar {
  width: 10px;
  margin-left: 15px;
}

*::-webkit-scrollbar-thumb {
  background-color: #262626;
  border-radius: 5px;
  height: 10px;
}
